@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,400i,500,600i,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,500,600i,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,600i,700");
@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";
* {
  box-sizing: border-box; }

html {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 400; }

p {
  line-height: 32px;
  font-family: 'Roboto', serif; }

.page-content {
  background-color: #E5E5ED;
  position: fixed;
  z-index: 3;
  width: 100%; }
  .page-content a {
    color: #0A2A49; }

section {
  position: relative;
  margin: 0;
  padding: 0;
  display: block;
  z-index: 0; }

#home {
  background: #A0CAB5;
  top: 40px; }

#work {
  background: #CDE9CA; }

#about {
  background: #F1EDD0; }

#contact {
  background: #F38A8A; }

h2 {
  padding: 0;
  margin: 0; }

.cta h3 {
  color: #D64A28; }
.cta h3:hover {
  color: #F79220; }

.cta:hover {
  text-decoration: none; }

a:hover {
  color: #0A2A49;
  text-decoration: none; }

.sec-subhead {
  border-left: 6px solid #F79220;
  padding-left: 20px;
  font-style: italic; }

.sec-subhead2 {
  border-left: 6px solid #D64A28;
  padding-left: 20px;
  font-style: italic; }

.newspaper3 {
  column-count: 3; }

.newspaper-col {
  column-count: 2; }

h1 {
  color: #D64A28;
  font-size: 50px; }

h1,
h2 {
  margin-bottom: 16px; }

h1,
h2,
h3 {
  line-height: 55px;
  font-family: 'Roboto', sans-serif; }

h3 {
  font-size: 1em;
  font-weight: 600; }

h4 {
  color: #F79220;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0; }

p,
li {
  font-weight: 400; }

li {
  margin-bottom: 15px; }

ol {
  margin-top: 40px;
  margin-bottom: 40px; }

.navbar-right:hover a:hover {
  background-color: #0A2A49 !important;
  color: white; }

.navbar-right:hover a:hover:after {
  content: "";
  /* This is necessary for the pseudo element to work. */
  display: block;
  /* This will put the pseudo element on its own line. */
  margin: 0 auto;
  /* This will center the border. */
  width: 100%;
  /* Change this to whatever width you want. */
  padding-top: 5px;
  /* This creates some space between the element and the border. */
  border-bottom: #ffffff solid 3px; }

.active:after {
  content: "";
  /* This is necessary for the pseudo element to work. */
  display: block;
  /* This will put the pseudo element on its own line. */
  margin: 0 auto;
  /* This will center the border. */
  width: 100%;
  /* Change this to whatever width you want. */
  padding-top: 5px;
  /* This creates some space between the element and the border. */
  border-bottom: #ffffff solid 3px; }

.navbar-brand {
  font-family: 'Roboto', sans-serif; }

.navbar-brand:hover {
  color: #F79220; }

.navbar-brand {
  color: white; }

.index-nav {
  border-bottom: #1A617E solid 8px; }

nav,
footer {
  background-color: #0A2A49; }
  nav a,
  nav p,
  nav li,
  footer a,
  footer p,
  footer li {
    color: #ffffff;
    font-size: 18px; }
  nav h3,
  footer h3 {
    color: white;
    margin-top: 8px; }

.rwd-table {
  margin: 1em 0;
  min-width: 300px; }
  .rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd; }
  .rwd-table th {
    display: none; }
  .rwd-table td {
    display: block; }
    .rwd-table td:first-child {
      padding-top: .5em; }
    .rwd-table td:last-child {
      padding-bottom: .5em; }
    .rwd-table td:before {
      content: attr(data-th) ": ";
      font-weight: bold;
      width: 6.5em;
      display: inline-block; }
      @media (min-width: 480px) {
        .rwd-table td:before {
          display: none; } }
  .rwd-table th,
  .rwd-table td {
    text-align: left; }
    @media (min-width: 480px) {
      .rwd-table th,
      .rwd-table td {
        display: table-cell;
        padding: .25em .5em; }
        .rwd-table th:first-child,
        .rwd-table td:first-child {
          padding-left: 0; }
        .rwd-table th:last-child,
        .rwd-table td:last-child {
          padding-right: 0; } }

.rwd-table {
  background: #0A2A49;
  color: #fff;
  border-radius: .4em;
  overflow: hidden; }
  .rwd-table tr {
    border-color: #104476; }
  .rwd-table th,
  .rwd-table td {
    margin: .5em 1em; }
    @media (min-width: 480px) {
      .rwd-table th,
      .rwd-table td {
        padding: 1em !important; } }
  .rwd-table th,
  .rwd-table td:before {
    color: #F79220; }

.img-responsive {
  margin-bottom: 10px !important;
  margin-top: 10px !important; }

footer {
  border-top: #1A617E solid 8px; }

footer {
  padding: 20px 30px;
  bottom: 0px;
  width: 100%;
  margin-top: 40px; }

.caption {
  font-size: .8em;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px; }

/* needed for old browsers */
dialog {
  display: block; }

/* removes scroll when modal is opened */
.no-scroll {
  overflow: hidden; }

.highlight {
  border-bottom: #F79220 4px solid; }

a.booka {
  color: #F79220 !important; }

/* overlay covers everything */
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 666; }

/* modal */
.modal {
  position: fixed;
  left: 25%;
  right: auto;
  top: 15%;
  width: 50%;
  background: #fff;
  z-index: 667; }

.row {
  margin: 20px 0; }

h3 {
  color: #D64A28; }

.breadcrumb > li {
  display: inline; }

.breadcrumb {
  background-color: #0A2A49;
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 60px;
  border-radius: 0;
  padding: 20px 20px 20px 0;
  text-transform: uppercase; }
  .breadcrumb a {
    color: #ffffff; }
  .breadcrumb .glyphicon-chevron-right {
    color: #ffffff;
    padding: 0 10px; }
  .breadcrumb li,
  .breadcrumb span {
    float: left; }
  .breadcrumb a:hover {
    text-decoration: none;
    color: #F79220; }

.sec-head, .sec-head-end {
  background-color: #1A617E;
  margin: 0;
  padding: 0px 0 0 0; }
  .sec-head h2, .sec-head-end h2 {
    color: #ffffff;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px; }

.sec-head-end {
  background-color: #F79220; }

.skip-overview h1 {
  color: #ffffff !important; }

.skip-overview,
.sec-head,
.sec-head-end {
  margin-top: 0;
  margin-bottom: 0; }

.container-div {
  background-color: #0A2A49; }
  .container-div p {
    color: #E5E5ED; }

section {
  padding: 1px 0 10px 0; }

.pop:hover {
  opacity: .5; }

body {
  font-weight: 300;
  font-family: 'Roboto', serif;
  font-size: 20px;
  color: #333;
  overflow: scroll;
  overflow-x: hidden;
  padding: 0;
  margin: 0; }

/*# sourceMappingURL=style.css.map */
